<!DOCTYPE html>
<html>
  <head>
    <title>Embedding Vega</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.8.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.0-beta.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.1.0"></script>
  </head>
  <body>
    <div id="vis"></div>

    <script type="text/javascript">

/*
      var yourVlSpec = {

        "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
    "title": "Temperature over time",
    "fontsize": "20px",
    "description": "Drag out a rectangular brush to highlight points.",
    "data": {"url": "2018_weather.json"},
    "width":1200, "height":600,
    "padding": 20,

    "selection": {
      "brush": {
        "type": "interval",
        "init": {"x": [55, 160], "y": [13, 37]}
      }
    },
    "mark": "point",
    "encoding": {
      "x": {"field": "date", "type": "temporal",
      "axis": {"title": "Time"},
    },

      "y": {"field":   "value", "type": "quantitative",
      "axis": {"title": "Temperature (Tenth degree celsius)"},

    },
      "color": {
        "condition": {"selection": "brush", "field": "id", "type": "ordinal"},
        "value": "gray"

      }
    }
      };

*/

  var yourVlSpec2 = {

    "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
      "data": {"url": "seattle-weather.csv"},
      "mark": "bar",
      "encoding": {
        "x": {
          "timeUnit": "month",
          "field": "date",
          "type": "ordinal",
          "axis": {"title": "Month of the year"}
        },
        "y": {
          "aggregate": "count",
          "type": "quantitative"
        },
        "color": {
          "field": "weather",
          "type": "ordinal",

          "scale": {

            //"domain": ["sun", "fog", "drizzle", "rain", "snow"],
          //  "range": ["#ff0000","#9467bd"]


          },

          "legend": {"title": "Weather type"}
        }
      }


};


/*

var projection = d3.geo.albers()
    .center([0, 55.4])
    .rotate([4.4, 0])
    .parallels([50, 60])
    .scale(6000)
    .translate([width / 2, height / 2]);
*/

        vegaEmbed('#vis', yourVlSpec2);
        //vegaEmbed('#vis', yourVlSpec2);


    </script>
  </body>
</html>
