<!DOCTYPE html>
<html>
  <head>
    <title>Embedding Vega</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.8.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.0.0-beta.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.1.0"></script>
  </head>
  <body>
    <div id="vis"></div>

    <script type="text/javascript">
      var yourVlSpec = {




        "$schema": "https://vega.github.io/schema/vega-lite/v4.json",
        "data": {
          "values": [
            {"key": "alpha", "foo": ["Anton", 2], "bar": ["A", "B"]},
            {"key": "beta", "foo": [3, 4, 5], "bar": ["C", "D"]}
          ]
        },
        "transform": [{"flatten": ["foo", "bar"]}],
        "mark": "circle",
        "encoding": {
          "x": {"field": "foo", "type": "nominal"},
          "y": {"field": "bar", "type": "nominal"},
          "color": {"field": "key", "type": "nominal"}
        }


      };
      vegaEmbed('#vis', yourVlSpec);
    </script>
  </body>
</html>
